{% extends "base.jinja" %}
{% block titulo %}{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block encabezado %}
	<h3 class="text-muted">Acerca de</h3>
{% endblock %}

{% block contenido %}
<p>
	Acerca de este sitio web
	<pre>
	Este sitio web es un sitio para mostrar lo que podemos ahcer
	con HTML + BOOTSTRAP + JINJA
	</pre>
</p>
{% endblock %}
