
doctype html(lang="es")
// INDEX1
html
	head
		title INDEX-1
	body
		h1 INDEX-1 (el Título de la página)
		hr
		p [ La barra de Navegación ]
		hr
		p Eventualmente un texto explicativo 
		hr
		p
			| Esto es lo que vamos a poner en las aplicaciones

